<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome !</h1>
            <div class="container">
                <ul class="nav navbar-brand">
                    <li><a href="{% url 'appLearnTemplates:index' %}">To appLearnTemplates</a></li>
                </ul>
            </div>
            <h2>Go to /formpage to fill out form</h2>

        </div>
    </div>
</body>
</html>